*.tmp
Data/PCLIENT/*
Data/Forming/*
TData/PCLIENT/
TData/Tmp/*
Tools/packages
*.user
metadata.new
clean.bat
*.rej
*.xlsx
*.tlb
.dropbox.device
Doc/*.docx
Doc/*todo.txt
Data/Machine/[(0-9)][(0-9)][(0-9)][(0-9)][(0-9)][(0-9)][(0-9)]/
Data/Machine/[(0-9)][(0-9)][(0-9)][(0-9)][(0-9)][(0-9)]/
*.pdn
*.bak
*.chm
*.orig
*.pdb
*.obj
**/bin/
Src/bin/
*/.hg/
*/.hgignore
*/.hgtags
*/.vs/
**/.vs/
*/obj/
**/obj/
*.cache
*.lastbuildstate
*.FileListAbsolute.txt
*.dll.recipe
*.vcxproj.user
*.csproj.user
Src/Publish/
Data/Recent/
Data/CellComponents/
Data/Cell/
Data/BGrippers/
Data/BendTools/
TData/failed.txt
TData/timing.csv
TData/skip.txt
TData/tmpfile.*
TData/skip.txt
Tools/XNCSign/packages/
Tools/FShip/Output/
**/launchSettings.json
Src/Hula/Win64/*
Src/Hula/include/hoops_license.h
/Data/System/unloadings.ini
Tools/MakeFxAPI/Data/Output/*
**/.idea/
SDK/Output
SDK/HTMLDoc
